[Unit]
Description=NVWA server
After=NetworkManager-wait-online.service network-online.target nvwa-pre.service
Requires=NetworkManager-wait-online.service network-online.target nvwa-pre.service

[Service]
ExecStart=/usr/bin/nvwa -server 1
ExecStop=/usr/bin/nvwa exit
User=root
Group=root
KillMode=process
Type=notify

[Install]
WantedBy=multi-user.target
Alias=nvwa.service
